@font-face {
    font-family: 'U001 Regular';
    src: url('./fonts/u001-reg.ttf') format('truetype');
}

body {
    opacity: 100%;
}

html {
    background-image: url('./images/stars-1845140_1280.jpg');
}

p, label {
    margin: auto;
    color: #dfdfdf;
    text-align: center;
    font-family: 'U001 Regular';
}

label {
    font-size: 24px;    
}

.buttons {
    border: 2px solid yellow;
    color: yellow;
    font-family: 'U001 Regular';
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 250ms;
    height: 40px;
    margin-top: 10px;
}

.buttons:hover {
    color: white;
}

.collapsible {
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 90%;
    position: relative;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    font-family: 'U001';
    border: 2px solid white;
    border-radius: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  #content {
    padding: 0px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    background-color: #2f2f2f;
    border-radius: 15px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .leftText {
    text-align: left;
  }

